<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "ElixirWPM", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>

  

    <nav class="flex bg-gray-700 justify-center items-center py-2 ">  
        <Components.link href="/">home</Components.link>
        <Components.link href="/about">about</Components.link>
        <Components.link href="/leaderboard">leader_board</Components.link>
      <%= render "_user_menu.html", assigns %>
    </nav>
    <%= @inner_content %> 
  </body>
</html>
